@use '../../assets/styles/fonts' as text;
@use '../../assets/styles/colors';

.wishlist-action {
    padding: 15px;
    border-radius:6px;
    transition: all 0.3s;
    text-align: center;
    border: none;
    color: var(--color-text-contrast);
}

.wishlist-action:hover {
    opacity:0.6;
}

.button-comedy {
    @include text.comedy-genre-font-s;
    background:var(--color-background-button-comedy);
}

.button-western {
    @include text.western-genre-font-s;
    background:var(--color-background-button-western);
}

.button-music {
    @include text.music-genre-font-s;
    background-color:#add8e6;
    background:var(--color-background-button-music);
}