@use "../../assets/sass/fonts" as text;
@use "../../assets/sass/colors";
@use "../../assets/sass/layout";

.wishlist-cta {
  padding: 15px;
  text-align: center;
  border: none;
  color: var(--color-text-contrast);

  @include layout.rounded;

  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    @include layout.semi-opacity;
  }

  &:disabled {
    cursor: not-allowed;
    @include layout.semi-opacity;
  }
}

.wishlist-cta_comedy {
  @extend .wishlist-cta;
  @include text.comedy-genre-font-s;

  background: var(--color-background-button-comedy);
}

.wishlist-cta_western {
  @extend .wishlist-cta;
  @include text.western-genre-font-s;

  background: var(--color-background-button-western);
}

.wishlist-cta_music {
  @extend .wishlist-cta;
  @include text.music-genre-font-s;

  background: var(--color-background-button-music);
}
