:root {
    --color-text-contrast: #161414;
    --color-background-white: #fff;
    --color-dark-grey:#757575;
    --color-grey: #b1b1b1;
    --color-light-grey: #ccc;
    --color-background-button-comedy:#fadadd;
    --color-background-button-music:#add8e6;
    --color-background-button-western:#e08b3eb0;
}