@use '../../assets/styles/fonts' as text;
@use '../../assets/styles/colors';

.movie-poster-img {
    height:100%;
    width:100%;
    border-radius:6px;
    transition: opacity 0.5s;
    opacity:1;
}


.img-invisible {
    opacity:0;
    width:0;
    height:0;
}

.movie-poster-img--loading-skeleton {
    background-color: #ccc;
    border-radius:6px;
    height:100%;
    width:100%;
}



