:root {
  --color-text-contrast: rgb(22 20 20);
  --color-background-white: rgb(255 255 255);
  --color-background-comedy: rgb(250 218 221);
  --color-background-music: rgb(173 216 230);
  --color-background-western: rgb(234 175 124);
  --color-dark-grey: rgb(117 117 117);
  --color-grey: rgb(177 177 177);
  --color-light-grey: rgb(204 204 204);
  --color-extra-light-grey: rgb(238 238 238);
}
