$default-font-style: ("Futura-Medium", "Century Gothic","Gill Sans", helvetica, arial, sans-serif);
$western-genre-font-style: (verdana, arial, helvetica, sans-serif);
$music-genre-font-style: ("Lucida Console", "Courier New", monospace);
$comedy-genre-font-style: ("Times New Roman", times, serif);

/// default font sizes
@mixin default-font-xs {
  font-family: $default-font-style;
  font-size: 0.9rem;
}

@mixin default-font-s {
  font-family: $default-font-style;
  font-size: 1rem;
}

@mixin default-font-m {
  font-family: $default-font-style;
  font-size: 1.2rem;
}

@mixin default-font-l {
  font-family: $default-font-style;
  font-size: 1.5rem;
}

/// category font styles
@mixin music-font-style {
  font-family: $music-genre-font-style;
}

@mixin western-font-style {
  font-family: $western-genre-font-style;
}

@mixin comedy-font-style {
  font-family: $comedy-genre-font-style;
}


