@use "../../assets/sass/fonts" as text;
@use "../../assets/sass/colors";
@use "../../assets/sass/layout";

.header {
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--color-extra-light-grey);
  color: var(--color-text-contrast);

  @include layout.rounded;

  z-index: 1;
}

.header__heading {
  @include text.default-font-m;

  cursor: pointer;
}

.header__nav {
  position: absolute;
  right: 8%;
}

.header__nav-list {
  list-style: none;
}

.header__wishlist-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;

  @include text.default-font-s;

  transition: opacity 0.4s;

  &:hover {
    @include layout.semi-opacity;
  }
}

.header__wishlist-icon {
  width: 20px;
  margin-right: 5px;
}

.header__nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text-contrast);
  text-transform: none;
  text-decoration: none;

  &:visited,
  &:hover,
  &:active {
    @include layout.semi-opacity;
  }
}

.nav-link_active {
  @include layout.semi-opacity;
}
