$body-color: rgba(22, 20, 20, 0.844);
  
  body {
    margin: 0;
    font-family: "Futura-Medium", "Century Gothic","Gill Sans",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fff;
    color: $body-color;
  }




  
