@use "assets/sass/fonts" as text;
@use "assets/sass/layout" as size;
@use "assets/sass/colors";

@import "assets/sass/reset";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
main {
  width: 100%;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 20px;
  background: var(--color-background-white);
  color: var(--color-text-contrast);
  overflow-x: hidden;

  @include text.default-font-xs;

  @include size.respond-to("medium") {
    @include text.default-font-s;
  }

  @include size.respond-to("extra-large") {
    @include text.default-font-m;
  }
}

.page-content {
  width: 100%;
  min-height:100vh;
  padding-top: 40px;
  padding-bottom:20Px;

  @include size.respond-to("medium") {
    padding-top: 60px;
    height:100%;
  }
}
