@use "../../assets/sass/fonts" as text;
@use "../../assets/sass/colors";
@use "../../assets/sass/layout";

.wishlist {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wishlist__count {
  margin-bottom:10px;
}

.wishlist__list {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.wishlist__item {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding:15px;
  @include layout.rounded-grey-border;

  img {
    width:100px;
    height:140px;
  }
}

.wishlist__item-title {
  margin-top:10px;
  @include text.default-font-xs;
}

.wishlist_empty-cta {
  border: none;
  margin-top: 20px;
  padding: 10px;
  background: var(--color-light-grey);
  border-radius: 6px;
  transition: all 0.4s;

  @include text.default-font-s;

  &:hover {
    @include layout.semi-opacity;
  }

  a,
  a:visited,
  a:hover,
  a:active {
    color: var(--color-text-contrast);
    text-transform: none;
    text-decoration: none;
  }
}
