@use "../../assets/sass/fonts" as text;
@use "../../assets/sass/layout" as size;
@use "../../assets/sass/colors";
@use "../../assets/sass/base";

.wishlist {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wishlist__count {
  margin-bottom:10px;
}

.wishlist__list {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.wishlist__item {
  @include base.wishlist-item-default;

  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align:center;
  @include base.rounded-grey-border;

  @include size.respond-to("extra-large") {
    @include base.wishlist-item-large;
  }

  img {
    @include base.image-poster-extra-small;

    @include size.respond-to("extra-large") {
      @include base.image-poster-medium;
    }
  }
}

.wishlist__item-title {
  margin-top:10px;
  padding: 0 5px;
  @include text.default-font-xs;
  @include base.line-height;

  @include size.respond-to("extra-large") {
    @include text.default-font-s;
  }
}

.wishlist__empty-text {
  @include text.default-font-m;
  @include base.line-height;
}

.wishlist__empty-cta {
  border: none;
  margin-top: 20px;
  padding: 10px;
  background: var(--color-light-grey);
  border-radius: 6px;
  transition: all 0.4s;
  @include text.default-font-s;

  &:hover {
    @include base.semi-opacity;
  }
}

.wishlist__empty-cta-link {
  @include base.link-default-style;

  &:hover,
  &:visited,
  &:active {
    @include base.link-default-style;
  }
}
